<div id="<%= dom_id nuttum %>">
  <p>
    <strong>Article:</strong>
    <%= nuttum.Article %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= nuttum.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= nuttum.body %>
  </p>

</div>
